<h1>This is the secret page</h1>

<p>You found me!</p>

<img src="https://vignette2.wikia.nocookie.net/uncyclopedia/images/b/bb/Nerd.JPG/revision/latest?cb=20061218221457">

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>